// import del recet de css
@import "./Base/-rest.scss";
// import de variables de colores 
@import "./componentes/variables";
// import de la nav 
@import "./componentes/nav";
//  import home 
@import "./paginas/_home.scss";
// import portones y rejas 
@import "./paginas/_PYR";
// import Automatisacion y servicio 
@import "./paginas/AyS.scss";













/* Footer index */







/* css barandas y escaleras  */
.galeria {
  background-color: #545b5c;
  display: flex;
  width: 100%;
  height: 50%;
  img {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    margin: 10px;
  }
}

.imga {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: 8;
  
}

.galeria img:hover {
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}


